.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

.hero-button {
  border: none;
}

.portfolio-button {
  border: none;
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.about__subtitle {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.about__uvaha::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-image: url("../../img/antenna1.png");
  align-items: center;
  background-repeat: no-repeat;
  background-color: #F5F4FA;
  background-position: center;
  margin-bottom: 30px;
}
.about__punktualnist::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-image: url("../../img/clock1.png");
  align-items: center;
  background-repeat: no-repeat;
  background-color: #F5F4FA;
  background-position: center;
  margin-bottom: 30px;
}
.about__plan::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-image: url("../../img/diagram1.png");
  align-items: center;
  background-repeat: no-repeat;
  background-color: #F5F4FA;
  background-position: center;
  margin-bottom: 30px;
}
.about__technik::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-image: url("../../img/astronaut1.png");
  align-items: center;
  background-repeat: no-repeat;
  background-color: #F5F4FA;
  background-position: center;
  margin-bottom: 30px;
}
.about__subtext {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.client {
  padding-top: 94px;
  padding-bottom: 110px;
}
.client__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.client__elmts {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.client__elm {
  outline: solid 1px #AFB1B8;
  border-radius: 5px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__elm:hover {
  outline: solid 1px #2196F3;
}
.client__elm:hover .client__icon {
  fill: #2196F3;
}
.client__icon {
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foot {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
.foot__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}
.foot__studio {
  color: white;
}
.foot__address {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;
  font-style: normal;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #FFF;
}
.foot__contain {
  display: flex;
  align-items: baseline;
}
.foot__elmnts {
  display: flex;
  gap: 10px;
}
.foot__elm {
  display: flex;
  background-color: #2F303A;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.foot__elm:hover {
  background-color: #2196F3;
}
.foot__link {
  display: flex;
}
.foot__send {
  margin-left: 93px;
}
.foot__icons {
  margin-left: 70px;
}
.foot__send {
  display: flex;
  margin-top: 20px;
  gap: 12px;
}
.foot__label {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.foot__follow {
  display: block;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFF;
}
.foot__btn {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFF;
  position: relative;
  text-align: justify;
  padding-left: 28px;
}
.foot__svg {
  position: absolute;
  right: 10px;
  width: 24px;
  height: 24px;
  right: 28px;
}
.foot__email {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.foot__phone {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.foot__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.3);
  padding-left: 16px;
}
.foot__join {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 20px;
}
.foot__icon {
  width: 22px;
  height: 22px;
  fill: #FFF;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ECECEC;
}
.header__container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.header__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #000;
}
.header__link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}
.header__web {
  color: #2196F3;
}
.header__studio {
  color: #000;
}
.header__list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-right: 303px;
}
.header__item {
  display: flex;
  position: relative;
}
.header__contain {
  display: flex;
  justify-content: baseline;
  gap: 30px;
}
.header__studio-s {
  color: #2196F3;
}
.header__studio-s::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  top: 43px;
  background-color: #2196F3;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__portfolio-s {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}
.header__portfolio-s:hover {
  color: #2196F3;
}
.header__contacts-s {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}
.header__portfolio-s:hover::after {
  color: #2196F3;
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  top: 43px;
  background-color: #2196F3;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-s:hover {
  color: #2196F3;
}
.header__studio-p::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  top: 45px;
  background-color: #2196F3;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__studio-p:hover::after {
  opacity: 1;
}
.header__portfolio-s::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  top: 43px;
  background-color: #2196F3;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__portfolio-s:hover::after {
  opacity: 1;
  color: #2196F3;
}
.header__studio-p::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  top: 45px;
  background-color: #2196F3;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__studio-p:hover::after {
  opacity: 1;
}
.header__contacts-s::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  top: 44px;
  background-color: #2196F3;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-s:hover::after {
  opacity: 1;
}
.header__portfolio-s::after {
  color: #2196F3;
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  top: 45px;
  background-color: #2196F3;
}
.header__studio-s:hover::after {
  opacity: 1;
}
.header__contacts-s::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  top: 43px;
  background-color: #2196F3;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-s:hover::after {
  opacity: 1;
}
.header__studio-p::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  top: 45px;
  background-color: #2196F3;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__studios-p:hover::after {
  opacity: 1;
}
.header__contacts-p::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  top: 45px;
  background-color: #2196F3;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-p:hover::after {
  opacity: 1;
}
.header__studio-p::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 3px;
  top: 47px;
  background-color: #2196F3;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__studio-p:hover::after {
  opacity: 1;
}
.header__portfolio-p {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.header__portfolio-p::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 3px;
  top: 47px;
  background-color: #2196F3;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.header__header-nav {
  display: flex;
  align-items: center;
}
.header__list {
  margin-left: 93px;
}
.header__contakts {
  display: flex;
  gap: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contakts:hover__icons {
  color: #2196F3;
}
.header__contakts:hover__email {
  color: blue;
}
.header__telefon {
  display: flex;
  gap: 10px;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__icons {
  width: 16px;
  height: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__icon {
  width: 10px;
  height: 16px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.header__email {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__email:hover {
  color: #2196F3;
}
.header__email:hover__icons {
  background-color: blue;
}
.header__phone {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact {
  width: 16px;
  height: 12px;
}
.header__phone {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact {
  width: 16px;
  height: 12px;
}
.header__contakts {
  display: flex;
  align-items: center;
}
.header__telefon {
  display: flex;
  align-items: center;
}
.header__phone:hover {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.hero {
  justify-content: center;
  justify-content: space-between;
  align-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6)), url("../img/backround.webp");
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  max-width: 696px;
  margin-bottom: 30px;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFF;
  box-shadow: 0 4px 4px 0 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196F3;
  width: 216px;
  height: 50px;
  border-radius: 5px;
}

.backdrop {
  opacity: 1;
  background-color: rgba(12, 7, 8, 0.4745098039);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.is-hidden {
  opacity: 0;
  transition-property: scale;
  pointer-events: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.model {
  width: 528px;
  background-color: #FFF;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  padding: 40px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden > .model {
  transform: translate(-50%, -50%) scale(0);
}

.model-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0.6);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.model-icon {
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 0.6);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.model-btn:hover .model-icon {
  fill: #2196F3;
}

.model-form {
  margin-top: 12px;
}

.model-title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.model-text {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.model-label {
  position: relative;
  width: 448px;
  height: 58px;
  margin-top: 4px;
}

.model-pic {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 33px;
  left: 5px;
}

.model-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.model-input:hover,
.model-input:focus {
  outline: 1px solid #2196F3;
}

.model-input:hover + .model-pic,
.model-input:focus + .model-pic {
  fill: #2196F3;
}

.model-comment {
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
  resize: none;
}

.model-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.model-box {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

.model-text {
  margin-left: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.model-link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2196F3;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}

.model-submit {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFF;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #188ce8;
}

.buttons {
  padding-top: 94px;
}
.buttons__container {
  width: 1170px;
}
.buttons__list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.buttons__item {
  max-width: 130px;
  height: 38px;
}
.buttons__button {
  border-radius: 4px;
  width: 112px;
  height: 38px;
  transition-property: box-shadow, background, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons__button:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background: #2196F3;
  color: #FFF;
}

.cards {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 94px;
}
.cards__info {
  overflow: hidden;
  position: relative;
}
.cards__text {
  position: absolute;
  opacity: 0;
  transform: translate(0%, 100%);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #FFF;
  top: 0;
  left: 0;
  padding: 40px;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 294px;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.cards__item {
  animation-name: zoom;
  flex-basis: calc((100% - 60px) / 3);
  background: #FFF;
  outline: solid 1px #EEE;
  transition-property: box-shadow, background, transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__item:hover {
  flex-basis: calc((100% - 60px) / 3);
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  background: #FFF;
}
.cards__item:hover__text {
  opacity: 1;
  transform: translate(0%, 0%);
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(2);
  }
}
.cards__cards {
  padding-top: 50px;
  padding-bottom: 94px;
}
.cards__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
  margin-top: 20px;
  padding-left: 24px;
}
.cards__subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 20px;
  padding-left: 24px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}
.team__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
}
.team__item {
  display: flex;
  width: 270px;
  flex-direction: column;
  background-color: #FFF;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 4px 4px;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team__info {
  margin-top: 30px;
  padding-bottom: 30px;
}
.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}
.team__subtext {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}
.team__elmnts {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.team__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}
.team__link {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover {
  fill: #FFF;
  background-color: #2196F3;
}
.team__link:hover__icon {
  fill: #FFF;
}

.whatdo {
  padding-bottom: 94px;
}
.whatdo__container {
  width: 1170px;
  display: flex;
  flex-direction: column;
}
.whatdo__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.whatdo__list {
  gap: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
}
.whatdo__item {
  position: relative;
}
.whatdo__item:hover {
  animation-name: zoom;
  animation-duration: 1000ms;
}
.whatdo__text {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  background-color: rgba(47, 48, 58, 0.8666666667);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 4px;
  width: 100%;
}/*# sourceMappingURL=main.css.map */