@use "../base/variable" as *;
@use "../untils/placeholder" as *;
@use "../untils/mixin" as *;

.about {
    @extend %about-instend;
    padding-top: 0 60px;

    @media screen and (max-width: 1199px) {
        padding-bottom: 60px;
    }


    @media screen and (min-width:1200px) {
        padding-top: 94px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media screen and (min-width:768px) {
            flex-wrap: wrap;
            flex-direction: row;
        }

        @media screen and (min-width:1200px) {
            flex-wrap: nowrap;
        }
    }

    &__subtitle {
        color: $title-color;
        font-size: 14px;
        text-align: center;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 10px;

        @media screen and (min-width:768px) {
            text-align: left;
        }
    }

    &__uvaha::before {
        content: "";
        display: block;
        width: 450px;
        height: 120px;
        background-image: url("../../img/antenna1.png");
        align-items: center;
        background-repeat: no-repeat;
        background-color: $team-bg;
        background-position: center;
        margin-bottom: 30px;

        @media screen and (min-width:768px) {
            width: 354px;
        }

        @media screen and (min-width:1200px) {
            width: 270px;
        }
    }

    &__punktualnist::before {
        content: "";
        display: block;
        width: 450px;
        height: 120px;
        background-image: url("../../img/clock1.png");
        align-items: center;
        background-repeat: no-repeat;
        background-color: $team-bg;
        background-position: center;
        margin-bottom: 30px;

        @media screen and (min-width:768px) {
            width: 354px;
        }

        @media screen and (min-width:1200px) {
            width: 270px;
        }
    }

    &__plan::before {
        content: "";
        display: block;
        width: 450px;
        height: 120px;
        background-image: url("../../img/diagram1.png");
        align-items: center;
        background-repeat: no-repeat;
        background-color: $team-bg;
        background-position: center;
        margin-bottom: 30px;

        @media screen and (min-width:768px) {
            width: 354px;
        }

        @media screen and (min-width:1200px) {
            width: 270px;
        }
    }

    &__technik::before {
        content: "";
        display: block;
        width: 450px;
        height: 120px;
        background-image: url("../../img/astronaut1.png");
        align-items: center;
        background-repeat: no-repeat;
        background-color: $team-bg;
        background-position: center;
        margin-bottom: 30px;

        @media screen and (min-width:768px) {
            width: 354px;
        }

        @media screen and (min-width:1200px) {
            width: 270px;
        }
    }

    &__subtext {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: $text-color;
        width: 100%;

        @media screen and (min-width:768px) {
            width: 354px;
        }

        @media screen and (min-width:1200px) {
            width: 270px;
        }
    }
}