@use "../base/variable" as *;
@use "../untils/placeholder" as *;
@use "../untils/mixin" as *;

.foot {
    @extend %foot-instand;
    background-color: $footer-bg;

    &__title {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 26px;
        text-align: center;

        @media screen and (min-width:1200px) {
            text-align: start;
        }
    }

    &__studio {
        color: white;
    }

    &__address {
        display: flex;
        flex-direction: column;
        gap: 9px;
        margin-top: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: $main-color;
        text-align: center;

        @media screen and (min-width:1200px) {
            text-align: start;
        }
    }

    &__contain {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 60px;
        justify-content: center;

        @media screen and (min-width:768px) {
            flex-direction: row;
            justify-content: center;
            text-align: center;
            gap: 0;
        }

        @media screen and (min-width:1200px) {
            flex-wrap: nowrap;
            flex-direction: row;
        }
    }

    &__elmnts {
        display: flex;
        gap: 10px;
    }

    &__elm {
        display: flex;
        background-color: $footer-icon;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        @include animation($property: background-color);
    }

    &__elm:hover {
        background-color: $accent-color;
    }

    &__link {
        display: flex;
    }

    &__send {
        width: 100%;
        display: flex;
        gap: 12px;
        align-items: center;
        flex-direction: column;
        
        @media screen and (min-width:1200px) {
            align-items: start;
            flex-direction: row;
        }
    }

    &__icons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        @media screen and (min-width:768px) {
            margin-left: 165px;
            flex-wrap: nowrap;
        }

        @media screen and (min-width:1200px) {
            margin-left: 70px;
            margin-right: 70px;
        }
    }

    &__sends {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 12px;  
        flex-wrap: wrap;

        @media screen and (min-width:768px) {
            flex-wrap: nowrap;
            margin-top: 60px;
        }

        @media screen and (min-width:1200px) {
            margin-top: 0;
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }
    }

    &__follow {
        display: block;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $main-color;
    }

    &__btn {
        border-radius: 4px;
        width: 200px;
        height: 50px;
        box-shadow: 0 4px 4px 0 $input-shadow;
        background: $accent-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 188%;
        letter-spacing: 0.06em;
        text-align: center;
        color: $main-color;
        position: relative;
        text-align: justify;
        padding-left: 28px;
    }

    &__label {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @media screen and (min-width:1200px) {
            align-items: start;
        }
    }

    &__svg {
        position: absolute;
        right: 10px;
        width: 24px;
        height: 24px;
        right: 28px;
    }

    &__email {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: $footer-contact;
    }

    &__phone {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: $footer-contact;
    }

    &__input {
        border: 1px solid $footer-input;
        width: 100%;
        border-radius: 4px;
        height: 50px;
        box-shadow: $input-shadow;
        background: transparent;
        padding-left: 16px;

        @media screen and (min-width:480px) {
            width: 358px;
        }
    }

    &__join {
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $main-color;
        margin-bottom: 20px;
    }

    &__icon {
        width: 22px;
        height: 22px;
        fill: $main-color;
    }
}