.web {
    color: $accent-color;
}

.studio {
    color: $main-color;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border: 1px solid $portfolio-line;

    &__title {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 26px;
        color: #000;
    }

}

.header-item {
    display: flex;
    position: relative;
}

.studios {
    color: $accent-color;
}

.studios::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    top: 45px;
    background-color: $accent-color;
}

.studios-p::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    top: 45px;
    background-color: $accent-color;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.studios-p:hover::after {
    opacity: 1;
}

.portfolio-s::after {
    content: "";
    display: block;
    position: absolute;
    width: 72px;
    height: 4px;
    top: 45px;
    background-color: $accent-color;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-s:hover::after {
    opacity: 1;
}

.portfolio::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    top: 45px;
    background-color: $accent-color;
}


.contacts-s::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    top: 45px;
    background-color: $accent-color;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-s:hover::after {
    opacity: 1;
}

.contacts-p::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    top: 45px;
    background-color: $accent-color;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-p:hover::after {
    opacity: 1;
}

.header-container {
    display: flex;
    flex-direction: row;
}

.header-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-right: 318px;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 93px;
}

.header-contakts {
    display: flex;
    margin-right: 30px;
    gap: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contakts:hover {
    .header-email {
        color: $accent-color;
    }

    .header-icons {
        fill: $accent-color;
    }
}



.header-telefon {
    display: flex;
    gap: 10px;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-telefon:hover {
    .header-phone {
        color: $accent-color;
    }

    .header-icon {
        fill: $accent-color;
    }
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $title-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icons {
    width: 16px;
    height: 12px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icons:hover {
    fill: $title-color;

    .header-email {
        color: $accent-color;
    }
}

.header-icon {
    width: 10px;
    height: 16px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $accent-color;
}

.header-email {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-email:hover {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $accent-color;
}

.header-phone {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact {
    width: 16px;
    height: 12px;
}

.header-contakts {
    display: flex;
    align-items: center;
}

.header-telefon {
    display: flex;
    align-items: center;
}

.header-phone:hover {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $accent-color;
}