@use "../base/variable" as *;
@use "../untils/placeholder" as *;
@use "../untils/mixin" as *;

.hero {
    @extend %hero-instand;
    background-image: linear-gradient($hero-bg, $hero-bg), url("../img/backround.webp");

    &__title {
        font-weight: 900;
        font-size: 26px;
        line-height: 162%;
        // font-size: 44px;
        // line-height: 136%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: $main-color;
        max-width: 360px;
        margin-bottom: 30px;
        
        @media screen and (min-width:768px) {
            line-height: 162%;
        }
        
        @media screen and (min-width:1200px) {
            font-size: 44px;
            max-width: 696px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button {
        font-weight: 700;
        font-size: 16px;
        line-height: 187%;
        letter-spacing: 0.06em;
        text-align: center;
        color: $main-color;
        box-shadow: 0 4px 4px 0 $input-shadow;
        background: $accent-color;
        width: 216px;
        height: 50px;
        border-radius: 5px;
    }

}