@use "../base/variable" as *;
@use "../untils/placeholder" as *;
@use "../untils/mixin" as *;

.buttons {
    @extend %buttons-instand;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__list {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 8px;
        width: 100%;
        flex-wrap: wrap;
        
        @media screen and (min-width:768px) {
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }

    &__item {
        max-width: 130px;
        height: 38px;
    }

    &__button {
        border: 0px ;
        border-radius: 4px;
        width: 112px;
        height: 38px;
        @include animation($property: (box-shadow, background, color));
    }

    &__button:hover {
        box-shadow: $portfolio-buttonh;
        background: $accent-color;
        color: $main-color;
    }
}