.portfolio-info {
    overflow: hidden;
    position: relative;
}

.portfolio-text {
    position: absolute;
    opacity: 0;
    transform: translate(0%, 100%);
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: #fff;
    top: 0;
    left: 0;
    padding: 40px;
    background: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 294px;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.portfolio-item {
    animation-name: zoom;
    flex-basis: calc((100% - 60px) / 3);
    background: #fff;
    outline: solid 1px #EEEEEE;
    transition-property: box-shadow, background, transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    flex-basis: calc((100% - 60px) / 3);
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
        0 4px 4px 0 rgba(0, 0, 0, 0.06),
        0 1px 1px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    .portfolio-text {
        opacity: 1;
        transform: translate(0%, 0%);
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(2);
    }
}

.portfolio-cards {
    padding-top: 50px;
    padding-bottom: 94px;
}

.portfolio-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
    margin-top: 20px;
    padding-left: 24px;
}

.portfolio-subtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: #757575;
    padding-bottom: 20px;
    padding-left: 24px;
}