@use "../base/variable" as *;

.buttons {
    padding-top: 94px;

    &__container {
        width: 1170px;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 8px;
    }

    &__item {
        max-width: 130px;
        height: 38px;
    }

    &__button {
        border: 0px ;
        border-radius: 4px;
        width: 112px;
        height: 38px;
        transition-property: box-shadow, background, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button:hover {
        box-shadow: $portfolio-buttonh;
        background: $accent-color;
        color: $main-color;
    }
}