h1, h2, h3, p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: 0;
}

.hero-button {
    border: none;
}

.portfolio-button {
    border: none;
}