body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.web {
    color: #2196F3;
}

.studio {
    color: #FFFFFF;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border: 1px solid #ececec;
}

.header-container {
    display: flex;
    flex-direction: row;
}

.header-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-right: 318px;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 93px;
}

.header-contakts {
    display: flex;
    margin-right: 30px;
    gap: 10px;
}

.header-contakts:hover {
    color: #2196F3;
    .header-icons {
        fill: #2196F3;
    }
}

.header-telefon {
    display: flex;
    gap: 10px;
}

.header-telefon:hover {
    color: #2196F3;
    .header-icon {
        fill: #2196F3;
    }
}

.header-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-icons {
    width: 16px;
    height: 12px;
}


.header-icon {
    width: 10px;
    height: 16px;
}

.header-link:hover {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #2196f3;
}

.header-email {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-email:hover {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #2196f3;
}

.header-phone {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-contact{
    width: 16px;
    height: 12px;
}

.header-phone:hover {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #2196f3;
}

.hero {
    justify-content: center;
    justify-content: space-between;
    align-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.6),
            rgba(47, 48, 58, 0.6)),
        url("./img/backround.webp");
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    max-width: 696px;
    margin-bottom: 30px;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2196f3;
    width: 216px;
    height: 50px;
    border-radius: 5px;
}

.about {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about-subtitle {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.uvaha::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url("./img/antenna1.png");
    align-items: center;
    background-repeat: no-repeat;
    background-color: #F5F4FA;
    background-position: center;
    margin-bottom: 30px;
}

.punktualnist::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url("./img/clock1.png");
    align-items: center;
    background-repeat: no-repeat;
    background-color: #F5F4FA;
    background-position: center;
    margin-bottom: 30px;
}

.plan::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url("./img/diagram1.png");
    align-items: center;
    background-repeat: no-repeat;
    background-color: #F5F4FA;
    background-position: center;
    margin-bottom: 30px;
}

.technik::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url("./img/astronaut1.png");
    align-items: center;
    background-repeat: no-repeat;
    background-color: #F5F4FA;
    background-position: center;
    margin-bottom: 30px;
}

.about-subtext {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
}

.what-we-do {
    padding-bottom: 94px;
}

.whatdo-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.about-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.whatdo-list {
    gap: 30px;
}

.whatdo-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
}

.team-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
}

.team-item {
    display: flex;
    width: 270px;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0 0 4px 4px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-subtext {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
    margin-bottom: 16px;
}

.team-elmnts {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 30px;
}

.team-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}

.team-link {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-link:hover {
    fill: #FFFFFF;
    background-color: #2196F3;

    .team-icon {
        fill: #FFFFFF;
    }
}

.clients-title {
    padding-top: 94px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.client-elmts {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 110px;
}

.client-elm {
    outline: solid 1px #AFB1B8;
    border-radius: 5px;
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-elm:hover {
    outline: solid 1px #2196F3;
    .client-icon {
        fill: #2196F3;
    }
}

.client-icon {
    fill: #AFB1B8;
    width: 106px;
    height: 60px;
}

.foot {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.foot-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.foot-address {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 20px;
    font-style: normal;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #fff;
}

.foot-email {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.foot-phone {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-icons {
    display: flex;
    align-items: baseline;
}

.footer-elmnts {
    display: flex;
    gap: 10px;
}

.footer-elm {
    display: flex;
    background-color: #44454E;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.footer-elm:hover {
    background-color: #2196F3;
}

.footer-link {
    display: flex;
}

.icons {
    margin-left: 70px
}

.join {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}

.footer-icon {
    width: 22px;
    height: 22px;
    fill: white;
}

.portfolio-buttons {
    padding-top: 94px;
}

.portfolio-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.portfolio-button {
    border-radius: 4px;
    width: 112px;
    height: 38px;
}

.portfolio-button:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    background: #2196f3;
    color: #FFFFFF;
}

.portfolio-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.portfolio-item {
    flex-basis: calc((100% - 60px) / 3);
    background: #fff;
    outline: solid 1px #EEEEEE;
}

.portfolio-item:hover {
    flex-basis: calc((100% - 60px) / 3);
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
        0 4px 4px 0 rgba(0, 0, 0, 0.06),
        0 1px 1px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
}

.portfolio-cards {
    padding-top: 50px;
    padding-bottom: 94px;
}

.portfolio-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
    margin-top: 20px;
    padding-left: 24px;
}

.portfolio-subtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: #757575;
    padding-bottom: 20px;
    padding-left: 24px;
}