body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} 

.web {
    color: #2196F3;
}

.studio {
    color: #FFFFFF;
}

.header {
    display: flex;
    flex-direction: row;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 93px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.header-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-link:hover {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #2196f3;
}

.header-email {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-email:hover {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #2196f3;
}

.header-phone {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-phone:hover {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #2196f3;
}

.hero {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2196f3;
    width: 216px;
    height: 50px;
    margin-left: 500px;
    border-radius: 5px;
}

.about {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about-subtitle {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.about-subtext {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
}

.what-we-do {
    padding-top: 94px;
    padding-bottom: 94px;
}

.whatdo-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about-list {
    display: flex;
    flex-direction: row;
}

.whatdo-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
}

.team {
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.team-subtext {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
}

.foot {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.foot-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.foot-address {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 20px;
    font-style: normal;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #fff;
}

.foot-email {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.foot-phone {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.portfolio-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
    margin-top: 94px;
}

.portfolio-button {
    border-radius: 4px;
    width: 112px;
    height: 38px;
}

.portfolio-button:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    background: #2196f3;
}

.portfolio-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 94px; 
    margin-top: 34px;
}

.portfolio-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-subtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: #757575;
}