%header-instend {
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (min-width:768px) {
        padding-top: 21px;
        padding-bottom: 21px;
    }

    @media screen and (min-width:1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

%about-instend {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

%clients-instand {
    padding-top: 94px;
    padding-bottom: 110px;
}

%foot-instand {
    padding-top: 60px;
    padding-bottom: 60px;
}

%hero-instand {
    padding-top: 118px;
    padding-bottom: 118px;
    justify-content: center;
    justify-content: space-between;
    align-content: center;

    @media screen and (min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

%buttons-instand {
    padding-top: 94px;
}

%cards-instand {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 94px;
}

%whatdo-instand {
    padding-bottom: 94px;
}